# Required for bot to run.
DISCORD_BOT_TOKEN=

# Only required if you need a PostgreSQL database.
# This example will work with the Docker setup.
POSTGRES_URI_BOT=postgresql://uqcsbot:uqcsbot@database:5432/uqcsbot

# Variables for various command cogs.
AOC_SESSION_ID=
