name: Setup Env
description: Setup python & poetry for running tests & typechecking

inputs:
  python-version:
    description: Version of python to use
    required: true
  poetry-version:
    description: Version of poetry to use
    required: true

runs: 
  using: "composite"
  steps:
    # ------
    # Get python
    # ------
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}
    
    # ------
    # Get poetry (hopefully from cache)
    # ------
    - name: Check for cached poetry binary
      id: cached-poetry-binary
      uses: actions/cache@v3
      with:
        path: ~/.local
        # poetry depends on OS, python version, and poetry version
        key: poetry-${{ runner.os }}-${{ inputs.python-version }}-${{ inputs.poetry-version }}
    
    - name: Install poetry on cache miss
      # we don't need an `if:` here because poetry checks if it's already installed
      uses: snok/install-poetry@v1
      with:
        version: ${{ inputs.poetry-version }}
        virtualenvs-create: true
        virtualenvs-in-project: true
        virtualenvs-path: '**/.venv'
        installer-parallel: true

    - name: Debugging GH actions is wicked silly
      run: ls -al
      shell: bash
    
    - name: Ensure poetry is on PATH
      run: echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      shell: bash

    # ------
    # Get library dependencies (hopefully from cache)
    # ------
    - name: Check for cached dependencies
      id: cached-poetry-dependencies
      uses: actions/cache@v3
      with:
        path: '**/.venv'
        # poetry dependencies depend on OS, python version, poetry version, and repository lockfile
        key: poetry-deps-${{ runner.os }}-${{ inputs.python-version }}-${{ inputs.poetry-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies on cache miss
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root
      shell: bash

    # ------
    # Finalise install
    # ------
    - name: Install main project
      run: poetry install --no-interaction
      shell: bash
